.edit-profile-container {
  display: flex;
  flex-direction: column;
  padding: 20px;
  align-items: center;
  background-color: white;
  width: 100%;
  margin: 0 auto;
  border: 1px solid #ddd;
  border-radius: 30px;
}

.edit-profile-container h1 {
  text-align: center;
  margin-bottom: 20px;
  color: #ed6d25;
}

.edit-profile-container div {
  margin-bottom: 10px;
  width: 100%;
}

.edit-profile-container input,
.edit-profile-container select {
  border-radius: 30px;
  border: 1px solid #868686;
  padding: 10px 20px;
  font-size: 16px;
  color: #868686;
  width: 215px;
  height: 51px;
  flex-shrink: 0;
  fill: #eff3f8;
}

.edit-profile-container button {
  border-radius: 8px;
  border: none;
  background-color: #ed6d25;
  color: white;
  padding: 10px 20px;
  font-size: 16px;
  margin-top: 20px;
  cursor: pointer;
  align-self: center;
  width: 336px;
  height: 51px;
  flex-shrink: 0;
}
